@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  background: #112233;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif'; }

.container {
  max-width: 64rem;
  margin: 3rem auto;
  padding: 0 1.25rem;
  text-align: center; }

a {
  text-decoration: none;
  color: white; }

.logo {
  color: 220072; }

#fb {
  display: inline-block;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.5rem; }
  #fb i {
    vertical-align: middle;
    margin-right: 0.5rem; }
  #fb:hover {
    color: #ddd;
    border-color: #ddd; }

#anim-container {
  position: relative;
  top: 0;
  height: 120px; }
  #anim-container .overlaid {
    margin-left: -60px;
    left: 50%;
    position: absolute; }

.animated {
  transform: scale(0);
  animation: popout 6s cubic-bezier(0.25, 0.1, 0.2, 1.5) normal infinite; }
  .animated:nth-child(2) {
    animation-delay: 2s; }
  .animated:nth-child(3) {
    animation-delay: 4s; }

#hammer {
  animation: hammertime 6s cubic-bezier(0.4, 0, 1, 1) normal infinite 4s; }

@keyframes popout {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1.5); }
  6% {
    transform: scale(1); }
  27% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, -0.5, 0, 1); }
  33% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }

@keyframes hammertime {
  0% {
    transform: rotate(0); }
  9% {
    transform: rotate(0); }
  12% {
    transform: rotate(45deg); }
  15% {
    transform: rotate(0deg); }
  18% {
    transform: rotate(45deg); }
  21% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

#ed {
  background-image: url("Edynburaki_420.png");
  position: absolute;
  display: none;
  background-color: white;
  height: 420px;
  width: 420px;
  border-radius: 240px;
  left: -420px;
  bottom: 0; }
